<ion-content>
  <form (ngSubmit)="onSubmit()" #userForm="ngForm">

    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input inputmode="text" minlength="5" name="name"
        [(ngModel)]="user.name">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Gender</ion-label>
      <ion-input inputmode="text" minlength="4" maxlength="6" name="gender"
        [(ngModel)]="user.gender">
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Age</ion-label>
      <ion-input type="number" name="age" [(ngModel)]="user.age"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Address</ion-label>
      <ion-input inputmode="text" placeholder="Zip Code" name="zip"
        [(ngModel)]="user.location.zip"></ion-input>
      <ion-input inputmode="text" placeholder="City" name="city"
        [(ngModel)]="user.location.city">
      </ion-input>
      <ion-input inputmode="text" placeholder="Address" name="address"
        [(ngModel)]="user.location.address"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Interests</ion-label>
      <!-- <div class="list"
        *ngFor="let interest of user.interests;let index = index">
        <ion-input [name]="'intname' + index" [(ngModel)]="interest.name">
        </ion-input>
        <ion-input class="pl-2" [name]="'intdesc'+ index"
          [(ngModel)]="interest.description">
        </ion-input>
      </div> -->
      <ion-select name="interest" [(ngModel)]="user.interests" multiple>
        <ion-select-option
          *ngFor="let interest of interests;let j = index; trackBy:itemIdentity">
          <input [name]="'iname'+j" type="checkbox" class="form-check-input"
            [(ngModel)]="interest.name">{{interest.name}}
        </ion-select-option>
      </ion-select>
      <!-- <div class="form-group"
        *ngFor="let intID of user.interestsID;let k = index; trackBy:itemIdentity"> -->
      <!-- <ion-textarea name="item-{{k}}" [(ngModel)]="user.interestsID[k]"> -->
      <!-- </ion-textarea> -->
      <!-- <div class="form-group"
          *ngFor="let interest of interests[intID];let i = index; trackBy:itemIdentity">
          <ion-textarea name="iid-{{i}}" [(ngModel)]="interest.id">
          </ion-textarea>
          <ion-textarea name="iname-{{i}}" [(ngModel)]="interest.name">
          </ion-textarea>
          <ion-textarea name="idesc-{{i}}" [(ngModel)]="interest.description">
          </ion-textarea>
        </div> -->

      <!-- </div> -->
    </ion-item>

    <!-- <ion-item>
      <ion-label position="floating">Interests value</ion-label>
      <div class="form-group"
        *ngFor="let interest of interests;let i = index; trackBy:itemIdentity">
        <ion-textarea name="iid-{{i}}" [(ngModel)]="interest.id">
        </ion-textarea>
        <ion-textarea name="iname-{{i}}" [(ngModel)]="interest.name">
        </ion-textarea>
        <ion-textarea name="idesc-{{i}}" [(ngModel)]="interest.description">
        </ion-textarea>
      </div>
    </ion-item> -->

    <ion-item>
      <ion-label position="floating">Description</ion-label>
      <ion-textarea name="description" [(ngModel)]="user.description">
      </ion-textarea>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Photo</ion-label>
      <ion-input inputmode="text" name="photo" [(ngModel)]="user.photo">
      </ion-input>
    </ion-item>

    <ion-fab horizontal="start" class="py-3">
      <ion-button (click)="addPhotoToGallery()">
        <ion-icon name="camera"></ion-icon>
      </ion-button>
    </ion-fab>
    <ion-fab horizontal="end" class="py-3">
      <ion-button [disabled]="!userForm.form.valid" type="submit"
        color="success">
        <ion-icon name="save-outline"></ion-icon>
      </ion-button>
    </ion-fab>

  </form>
</ion-content>