<ion-card class="mx-5">
  <ion-img src="./assets/img/pp.png"></ion-img>
  <ion-card-header color="primary"
    class="d-flex justify-content-center flex-column">
    <ion-card-title class="align-self-center">
      User Name
    </ion-card-title>
    <ion-card-subtitle class="align-self-center">
      Loves to jumping on trees
    </ion-card-subtitle>
  </ion-card-header>

  <ion-card-content class="mt-2">
    <p>
      Gender: Male
    </p>
    <p>
      Age: 3years
    </p>
    <p>
      Location: Zoo
    </p>
    <p>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </p>
  </ion-card-content>
</ion-card>