<ion-card class="mx-5">
  <ion-img [src]="user.photo"></ion-img>
  <ion-card-header color="primary"
    class="d-flex justify-content-center flex-column">
    <ion-card-title class="align-self-center">
      {{ user.name }}
    </ion-card-title>
    <div class="interest d-flex flex-row justify-content-around">
      <ion-card-subtitle class="" *ngFor="let interest of user.interests">
        {{ interest.name }}
      </ion-card-subtitle>
      <!-- <ion-card-subtitle class="">
        {{ user.interests }}
      </ion-card-subtitle> -->
    </div>
  </ion-card-header>

  <ion-card-content class="mt-2">
    <p>
      Gender: {{ user.gender }}
    </p>
    <p>
      Age: {{ user.age }} years
    </p>
    <p>
      Location: {{ user.location.zip }} {{ user.location.city }}, {{
      user.location.address }}
    </p>
    <p>
      {{ user.description }}
    </p>
  </ion-card-content>
</ion-card>